/* Common */

body{
    font-family: 'Sriracha', cursive;
}

a{
    color: #fff !important;
}

/* Header */

header .title{
    padding: 30px 20px;
    border-bottom: 1px solid #999;
}

header h3{
    font-size: 35px;
    color: #AAA;
}

/* Bookmark */

.bookmark .box{
    background-color: #eeeeee;
    text-align: center;
    padding: 20px 13%;
}

.bookmark .box2{
    background-color: #eeeeee;
    padding: 20px 7%;
}

.box2 .item{
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 8px 10%;
}

.bookmark .warn{
    color: #ad1f2d;
    /* border: 1px solid #6d0000; */
    padding: 3px 20px;
    font-size: 18px;
    text-align: initial;
}

.bookmark .warn-name{
    display: none;
}

.bookmark .warn-url{
    display: none;
}

/* Footer */

footer .box{
    padding: 20px;
    border-top: 1px solid #999;
    font-size: 14px;
}

footer p{
    color: #AAA;
}
/* border-top: 1px solid #999; */